<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Galerie photos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let image of images">
        <ion-card mode="md" style="margin:2px;">
          <ion-card-header style="padding:10px;">
            <img src= {{urlImage}}{{image.path}} style="height: 125px;" imageViewer>
            <ion-card-title style="text-align:center;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:15px;">
              {{image.name}}
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
