<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">

      <ion-header>
        <ion-toolbar color="primary">
          <ion-grid (click)="OpenHomePage()">
            <ion-row>
              <ion-col style="text-align: center;">
                <img src="../assets/logo/logo.jpg" alt="" style="height:90px;" />
              </ion-col>
            </ion-row>
            <ion-row style="margin-top: -10px;">
              <ion-col>
                <h3 style="color:white">Bazoun 2021</h3>
                <h5 style="color:white">Tout ce que vous devez savoir</h5>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Inbox</ion-list-header>
          <ion-note>hi@ionicframework.com</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"
              detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>


              <ion-header>
                <ion-toolbar color="primary">
                  <ion-grid>
                    <ion-row>
                      <ion-col style="text-align: center;">
                        <img src="../assets/logo/logo.png" alt="" style="height: 100px;width: 150px;" />
                      </ion-col>
                    </ion-row>
                    <ion-row style="margin-top: -30px;">
                      <ion-col>
                        <ion-text>
                          <h4 style="color:white; text-align: center;">Bazoum 2021</h4>
                        </ion-text>
                        <ion-text>
                          <h6 style="color:white;line-height: 0px;text-align: center;">Tout ce que vous devez savoir
                          </h6>
                        </ion-text>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-toolbar>
              </ion-header>

              <ion-content>

                <ion-list id="inbox-list" style="padding-top: 0%;" >
                  <ion-menu-toggle auto-hide="false" *ngFor="let p of appPagesMedia">
                    <ion-item (click)="openpage(p)" lines="none" detail="false">
                      <ion-icon color="primary" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'">
                      </ion-icon>
                      <ion-label>{{ p.title }}</ion-label>
                    </ion-item>
                  </ion-menu-toggle>
                </ion-list>

                <ion-list id="inbox-list">
                  <ion-note>Elections</ion-note>
                  <ion-menu-toggle auto-hide="false" *ngFor="let p of pageElections">
                    <ion-item (click)="openpage(p)" lines="none" detail="false">
                      <ion-icon color="primary" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'">
                      </ion-icon>
                      <ion-label>{{ p.title }}</ion-label>
                    </ion-item>
                  </ion-menu-toggle>
                </ion-list>

                <ion-list id="labels-list">
                  <ion-list-header>Labels</ion-list-header>

                  <ion-item *ngFor="let label of labels" lines="none">
                    <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
                    <ion-label>{{ label }}</ion-label>
                  </ion-item>
                  <ion-list id="inbox-list">
                    <ion-note>Social</ion-note>
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of PageSocial">
                      <ion-item (click)="openpage(p)" lines="none" detail="false">
                        <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'">
                        </ion-icon>
                        <ion-label>{{ p.title }}</ion-label>
                      </ion-item>
                    </ion-menu-toggle>
                    <ion-icon color="primary" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'">
                    </ion-icon>
                    <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>