<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">


      <ion-header>
        <ion-toolbar color="primary">
          <ion-grid (click)="OpenHomePage()">
            <ion-row>
              <ion-col style="text-align: center;">
                <img src="../assets/logo/logo.jpg" alt="" style="height:90px;" />
              </ion-col>
            </ion-row>
            <ion-row style="margin-top: -10px;">
              <ion-col>
                <h3 style="color:white">Bazoun 2021</h3>
                <h5 style="color:white">Tout ce que vous devez savoir</h5>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-toolbar>
      </ion-header>

      <ion-content>

        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPagesMedia">
            <ion-item (click)="openpage(p)" lines="none" detail="false">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="inbox-list">
          <ion-note>Elections</ion-note>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of pageElections">
            <ion-item (click)="openpage(p)" lines="none" detail="false">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>


        <ion-list id="inbox-list">
          <ion-note>Social</ion-note>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of PageSocial">
            <ion-item (click)="openpage(p)" lines="none" detail="false">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>


      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>