<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="this.FromPath == null || this.FromPath == ''"></ion-menu-button>
      <ion-back-button *ngIf="this.FromPath != null && this.FromPath != ''" defaultHref="{{this.FromPath}}"></ion-back-button>
    </ion-buttons>
    <ion-title #name>{{title}}</ion-title>
    <ion-buttons slot="end">
        <app-basket right></app-basket>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-tabs #tabs>
    <ion-tab-bar color="light" slot="bottom">
      <ion-tab-button tab="general-program">
        <ion-icon name="bookmarks"></ion-icon>
        <ion-label>General-program</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="sector-program" >
        <ion-icon name="search"></ion-icon>
        <ion-label>Sector-program</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content> -->


<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>blabla</ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Programme</ion-title>
  </ion-toolbar>
</ion-header>


<ion-tabs>
 
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="general-program">
      <ion-icon name="general-program"></ion-icon>
      <ion-label>Programme général</ion-label>
    </ion-tab-button>
 
    <ion-tab-button tab="sector-program">
      <ion-icon name="sector-program"></ion-icon>
      <ion-label>Programme par secteur</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
 
</ion-tabs>