<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Accueil</ion-title>
    <ion-buttons slot="end">
      <ion-button right icon-only (click)="GoToSearch()">
        <ion-icon name="md-search" style="font-size:26px;"></ion-icon>
      </ion-button>
      <ion-button right icon-only (click)="rooting()" style="width:42px;position:relative;">
        <ion-icon name="videocam" style="font-size:33px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <!-- Social Buttons -->
  <ion-row style="margin-top:0px;padding-top:0px;">
    <ion-col style="margin-top:0px;padding-top:0px;">
      <ion-grid style="margin-top:0px;padding-top:0px;">
        <ion-row style="margin-top:0px;padding-top:0px;">

          <ion-col size="3" style="text-align:center;padding:0px;">
            <ion-button clean shape="round" fill="clear" 
                        href="https://www.facebook.com/www.pndstarayya.ne/"
                        style="height:29px;font-size:18px;padding:0px;margin-top:9px;">
              <ion-icon name="logo-facebook" style="margin:0xp;padding:0px;opacity:0.65;"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="3"style="text-align:center;padding:0px;">
            <ion-button clean shape="round" fill="clear"
                        href="https://twitter.com/tarayya_pnds/"
                        style="height:29px;font-size:18px;padding:0px;margin-top:9px;">
              <ion-icon name="logo-twitter" style="margin:0xp;padding:0px;opacity:0.65;"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="3" style="text-align:center;padding:0px;">
            <ion-button clean shape="round" fill="clear" 
                        href="https://www.youtube.com/channel/UC4BQM2KIlPd1_vQEVxeImzw/"
                        style="height:29px;font-size:18px;padding:0px;margin-top:9px;">
              <ion-icon name="logo-youtube" style="margin:0xp;padding:0px;opacity:0.65;"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="3" style="text-align:center;padding:0px;">
            <ion-button clean shape="round" fill="clear" 
                        (click)="ShareApp();"
                        style="height:29px;font-size:18px;padding:0px;margin-top:9px;">
              <ion-icon name="share-social-outline" style="margin:0xp;padding:0px;opacity:0.65;"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-content>