<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Accueil</ion-title>
    <ion-buttons slot="end">
      <ion-button right icon-only (click)="GoToLive()" style="width:42px;position:relative;">
        <ion-icon name="videocam" style="font-size:33px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <!-- Main Slider -->
  <ion-slides pager="true" [options]="imagesSlideOptions">
    <ion-slide *ngFor="let image of images">
      <div>
        <img src={{urlImage}}{{image.path}} style='max-height:250px;'/>
        <div *ngIf="image.VideoUrl != null && image.VideoUrl != '' && image.VideoUrl != undefined"
          style="width:100%;height:120px;position:absolute;top:50px;">
          <ion-button href="{{image.VideoUrl}}" shape="round" fill="clear" style="height:100px;">
            <ion-icon slot="icon-only" name="play-circle"
              style="color:#ef2828 !important;font-size:90px;background-color:white;font-size:90px;border-radius:50px;-webkit-box-shadow:0px 0px 5px 2px rgba(0,0,0,0.20);box-shadow:0px 0px 5px 2px rgba(0,0,0,0.20);">
            </ion-icon>
          </ion-button>
        </div>
      </div>

    </ion-slide>
  </ion-slides>


  <!-- Adhérer -->
  <ion-row style="padding:0px;">
    <ion-col style="margin-bottom:0px;padding-bottom:0px;">
      <ion-card (click)="GoToAdherer()" class="home_card">
        <ion-grid>
          <ion-row>
            <ion-col size="8">
              <ion-text style="font-size:14px;font-weight: bold;">S'adhérer</ion-text><br>
              <ion-button clean mode="md" (click)="GoToAdherer()" fill="outline" style="font-size:12px;">Cliquez ici
              </ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-col clean>
                <ion-icon name="log-in" ios="ios-log-in" color="primary" style="font-size: 50px; padding-left: 45px; margin-top: 4px;"></ion-icon>
            </ion-col>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-col>
  </ion-row>


    <!-- Programme du candidat -->
    <ion-row style="padding:0px;">
      <ion-col style="margin-bottom:0px;padding-bottom:0px;">
        <ion-card (click)="GoToProgram()" class="home_card">
          <ion-grid>
            <ion-row>
              <ion-col size="8">
                <ion-text style="font-size:14px;font-weight: bold;">Programme du candidat</ion-text><br>
                <ion-button clean mode="md" (click)="GoToProgram()" fill="outline" style="font-size:12px;">Cliquez ici
                </ion-button>
              </ion-col>
              <ion-col size="4">
                <ion-col clean>
                  <ion-icon name="document" color="primary" style="font-size: 45px; padding-left: 52px; margin-top: 4px;"></ion-icon>
              </ion-col>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>

        <!-- Résultats -->
        <ion-row style="padding:0px;">
          <ion-col style="margin-bottom:0px;padding-bottom:0px;">
            <ion-card (click)="GoToStat()" class="home_card">
              <ion-grid>
                <ion-row>
                  <ion-col size="8">
                    <ion-text style="font-size:14px;font-weight: bold;">Résultats </ion-text><br>
                    <ion-button clean mode="md" (click)="GoToStat()" fill="outline" style="font-size:12px;">Cliquez ici
                    </ion-button>
                  </ion-col>
                  <ion-col size="4">
                    <ion-col clean>
                      <ion-icon name="bar-chart" color="primary" style="font-size: 45px; padding-left: 52px; margin-top: 4px;"></ion-icon>
                  </ion-col>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-col>
        </ion-row>


  <!-- Social Buttons -->
  <ion-row style="margin-top:0px;padding-top:0px;">
    <ion-col style="margin-top:0px;padding-top:0px;">
      <ion-grid style="margin-top:0px;padding-top:0px;">
        <ion-row style="margin-top:0px;padding-top:0px;">

          <ion-col size="3" style="text-align:center;padding:0px;">
            <ion-button clean shape="round" fill="clear" href="https://www.facebook.com/www.pndstarayya.ne/"
              style="height:29px;font-size:18px;padding:0px;margin-top:9px;">
              <ion-icon name="logo-facebook" style="margin:0xp;padding:0px;opacity:0.65;"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="3" style="text-align:center;padding:0px;">
            <ion-button clean shape="round" fill="clear" href="https://twitter.com/tarayya_pnds/"
              style="height:29px;font-size:18px;padding:0px;margin-top:9px;">
              <ion-icon name="logo-twitter" style="margin:0xp;padding:0px;opacity:0.65;"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="3" style="text-align:center;padding:0px;">
            <ion-button clean shape="round" fill="clear"
              href="https://www.youtube.com/channel/UC4BQM2KIlPd1_vQEVxeImzw/"
              style="height:29px;font-size:18px;padding:0px;margin-top:9px;">
              <ion-icon name="logo-youtube" style="margin:0xp;padding:0px;opacity:0.65;"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="3" style="text-align:center;padding:0px;">
            <ion-button clean shape="round" fill="clear" (click)="ShareApp();"
              style="height:29px;font-size:18px;padding:0px;margin-top:9px;">
              <ion-icon name="share-social-outline" style="margin:0xp;padding:0px;opacity:0.65;"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-content>