<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>S'adhérer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div style="text-align: center;">
    <img src='../../../../assets/logo/logo.png' style="text-align: center; width: 180px;">
  </div>
  <div style="margin-top:20px;">
    <form [formGroup]="registerForm">
      <div class="row">

        <!-- FirstName -->
        <ion-item>
          <ion-input formControlName="FirstName" [(ngModel)]='FirstName' placeholder="Nom" name="FirstName"></ion-input>
        </ion-item>
        <div class="error_messages">
          <ng-container *ngFor="let error of Errors.FirstName">
            <div class="error-message"
              *ngIf="registerForm.get('FirstName').hasError(error.type) && (registerForm.get('FirstName').dirty || registerForm.get('FirstName').touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>

        <!-- LastName -->
        <ion-item>
          <ion-input formControlName="LastName" [(ngModel)]='LastName' placeholder="Prénom" name="LastName"></ion-input>
        </ion-item>
        <div class="error_messages">
          <ng-container *ngFor="let error of Errors.LastName">
            <div class="error-message"
              *ngIf="registerForm.get('LastName').hasError(error.type) && (registerForm.get('LastName').dirty || registerForm.get('LastName').touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>


        <!-- Pays -->
        <ion-item>
          <ion-input formControlName="Pays" [(ngModel)]='Pays' type="pays" placeholder="Pays" name="Pays">
          </ion-input>
        </ion-item>
        <div class="error_messages">
          <ng-container *ngFor="let error of Errors.Pays">
            <div class="error-message"
              *ngIf="registerForm.get('Pays').hasError(error.type) && (registerForm.get('Pays').dirty || registerForm.get('Pays').touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>

        <!-- Email -->
        <ion-item>
          <ion-input formControlName="Email" [(ngModel)]='Email' type="email" placeholder="Email" name="Email">
          </ion-input>
        </ion-item>
        <div class="error_messages">
          <ng-container *ngFor="let error of Errors.Email">
            <div class="error-message"
              *ngIf="registerForm.get('Email').hasError(error.type) && (registerForm.get('Email').dirty || registerForm.get('Email').touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>


        <!-- PhoneNumber -->
        <ion-item>
          <ion-input formControlName="PhoneNumber" [(ngModel)]='PhoneNumber' placeholder="Numéro de téléphone"
            type="number" name="PhoneNumber">
          </ion-input>
        </ion-item>
        <div class="error_messages">
          <ng-container *ngFor="let error of Errors.PhoneNumber">
            <div class="error-message"
              *ngIf="registerForm.get('PhoneNumber').hasError(error.type) && (registerForm.get('PhoneNumber').dirty || registerForm.get('PhoneNumber').touched)">
              {{error.message}}
            </div>
          </ng-container>
        </div>


      </div>

      <ion-row style="margin-top:20px;">
        <ion-col>
          <ion-button (click)='SingupUser()' [disabled]="!registerForm.valid" expand="block" color="primary" mode="ios">
            Enregistrer</ion-button>
        </ion-col>
      </ion-row>


    </form>
  </div>
</ion-content>